<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>헤더</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.svg}" />
  <!-- Place favicon.ico in the root directory -->

  <!-- Web Font -->
  <link
          href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

  <!-- ========================= CSS here ========================= -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/LineIcons.2.0.css}" />
  <link rel="stylesheet" th:href="@{/css/animate.css}" />
  <link rel="stylesheet" th:href="@{/css/tiny-slider.css}" />
  <link rel="stylesheet" th:href="@{/css/glightbox.min.css}" />
  <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<header class="header navbar-area" th:fragment="header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="nav-inner">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
              <!-- <img src="../static/images/logo/logo.svg" alt="Logo"> -->
              <h5>사이트 이름</h5>
            </a>
            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
              <ul id="nav" class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a href="/" aria-label="Toggle navigation">첫화면</a>
                </li>
                </li>
                <li class="nav-item">
                  <a href="/lecture/lecture-note" aria-label="Toggle navigation">강의노트</a>
                </li>
                <li class="nav-item">
                  <a href="/member/profile" aria-label="Toggle navigation">회원정보</a>
                </li>
              </ul>
            </div> <!-- navbar collapse -->
            <div class="login-button">
              <ul>
                <li>
                  <span th:text="${session.LOGIN_MEMBER == null ? '없음' : session.LOGIN_MEMBER.email}"></span>
                </li>
                <th:block th:if="${session.LOGIN_MEMBER == null}">
                  <li>
                    <a href="/member/login"><i class="lni lni-enter"></i> 로그인</a>
                  </li>
                  <li>
                    <a href="/member/registration"><i class="lni lni-user"></i> 회원가입</a>
                  </li>
                </th:block>
                <th:block th:unless="${session.LOGIN_MEMBER == null}"> <!-- <button type="button" class="btn btn-link">Link</button> -->
                  <li> <!-- <a href="#" th:onclick="@{'deletetag(' + ${tag.id} + ');'}">  -->
                    <a href="javascript:logout()"><i class="lni lni-exit"> 로그아웃</i></a>
                  </li>
                </th:block>
              </ul>
            </div>
<!--            <div class="dropdown">-->
<!--              <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">회원메뉴</button>-->
<!--              <ul class="dropdown-menu">-->
<!--                <li><button class="dropdown-item" type="button">회원정보</button></li>-->
<!--                <li><button class="dropdown-item" type="button">강의노트</button></li>-->
<!--                <li><button class="dropdown-item" type="button">로그아웃</button></li>-->
<!--              </ul>-->
<!--            </div>-->
          </nav> <!-- navbar -->
        </div>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</header>

<script th:src="@{/js/jquery.3.6.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/tiny-slider.js}"></script>
<script th:src="@{/js/glightbox.min.js}"></script>
<script th:src="@{/js/count-up.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>