<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>첫화면</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.svg}"/>
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/LineIcons.2.0.css}"/>
    <link rel="stylesheet" th:href="@{/css/animate.css}"/>
    <link rel="stylesheet" th:href="@{/css/tiny-slider.css}"/>
    <link rel="stylesheet" th:href="@{/css/glightbox.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<!-- Preloader -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- /End Preloader -->

<!-- Start Header Area -->
<div th:replace="~{common/header::header}"></div>
<!-- End Header Area -->


<section class="item-details section" style="margin-top:30px">
    <div class="container">
        <div class="top-area">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-images">
                        <main id="gallery">
                            <div class="main-img">
                                <img th:src="${bookDetailInfo.bookDTO.thumbnail}" id="current" alt="#">
                            </div>
                        </main>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-info">
                        <div class="list-info">
                            <h4 th:text="${bookDetailInfo.bookDTO.title}"></h4>
                            <ul>
                                <li><span>저자:</span> [[${bookDetailInfo.bookDTO.authors}]]</li>
                                <li><span>번역:</span> [[${bookDetailInfo.bookDTO.translators}]]</li>
                                <li><span>출판사:</span> [[${bookDetailInfo.bookDTO.publisher}]]</li>
                                <li><span>출판일:</span> [[${{bookDetailInfo.bookDTO.publishDate}}]]</li>
                                <li><span>ISBN:</span> [[${bookDetailInfo.bookDTO.isbn13}]]</li>
                                <li><span>품절여부:</span> [[${bookDetailInfo.bookDTO.status}]]</li>
                                <li><span>도서 정가:</span> [[${{bookDetailInfo.bookDTO.price}}]]</li>
                                <li><span>도서 판매가:</span> [[${{bookDetailInfo.bookDTO.salePrice}}]]</li>
                            </ul>
                        </div>
                        <div th:if="${memberId != null}" class="social-share">
                            <h4>강의노트에 추가</h4>
                            <ul>
                                <li><a th:href="|javascript:showBookAddModal('${bookDetailInfo.bookDTO.id}')|" class="facebook"><i class="lni lni-notepad"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-details-blocks">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-12">
                    <!-- Start Single Block -->
                    <div class="single-block description">
                        <h3>도서 소개</h3>
                        <p th:text="${bookDetailInfo.bookDTO.contents}"></p>
                    </div>
                    <!-- End Single Block -->
                    <!-- Start Single Block -->
                    <th:block th:if="${bookDetailInfo.libraryList.size() > 0}">
                        <div class="single-block comments">
                            <h3>도서관 이름</h3>
                            <div class="single-comment">
                                <img src="https://via.placeholder.com/300x300" alt="#">
                                <div class="content">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td>주소</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>전화번호</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>FAX 번호</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>휴관일</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>운영시간</td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <a href="javascript:void(0)" class="reply"><i class="lni lni-link"></i> 홈페이지</a>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    <!-- End Single Block -->
                </div>
                <div class="col-lg-4 col-md-5 col-12">
                    <div class="item-details-sidebar">
                        <!-- Start Single Block -->
                        <div class="single-block ">
                            <h3>위치</h3>
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe width="100%" height="300" id="gmap_canvas"
                                            src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                    <a
                                            href="https://putlocker-is.org"></a><br>
                                    <style>
                                        .mapouter {
                                            position: relative;
                                            text-align: right;
                                            height: 300px;
                                            width: 100%;
                                        }
                                    </style>
                                    <a href="https://www.embedgooglemap.net">google map code for website</a>
                                    <style>
                                        .gmap_canvas {
                                            overflow: hidden;
                                            background: none !important;
                                            height: 300px;
                                            width: 100%;
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Block -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="div-modal-lecture-note">
</div>

<!-- Start Footer Area -->
<th:block th:replace="~{common/footer::footer}"></th:block>
<!--/ End Footer Area -->

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top btn-hover">
    <i class="lni lni-chevron-up"></i>
</a>

<!-- ========================= JS here ========================= -->
<script th:src="@{/js/jquery.3.6.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/tiny-slider.js}"></script>
<script th:src="@{/js/glightbox.min.js}"></script>
<script th:src="@{/js/count-up.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/lilac-common.js}"></script>
<script th:inline="javascript">
    const showBookAddModal = (argBookId) => {
        $.ajax({
            type: "get",
            url: "/lecture/model-book-template",
            dataType: "text",
            data: {bookId: argBookId},
            success: function (data) {
                let html = jQuery('<div>').html(data);
                let contents = html.find("div#book-add-modal").html();
                $('#div-modal-lecture-note').html(contents);
                $("#addNoteModal").modal("show");

            }, error: function (error) {
                alert("강의노트 입력창 호출에 실패하였습니다.");
            }
        })
    }
    // book-add-modal.html 에서 호출하는 함수
    const addBookToLectureNote = () =>{
        const paramBookId = [[${bookDetailInfo.bookDTO.id}]];
        const paramLectureNoteId = $("#lectureNoteSelect").val(); // book-add-modal.html에 있는 셀렉트박스 태그
        console.log("paramBookId : "+paramBookId);
        let param = {
            "bookId" : paramBookId,
            "lectureNoteId" : paramLectureNoteId
        }
        $.ajax({
            type:"post",
            url:"/lecture/api/addBook",
            headers: {"Content-Type": "application/json"},
            data: JSON.stringify(param),
            success: function (result){
                alert("도서를 강의노트에 추가하였습니다.");
                $("#addNoteModal").modal("hide");
            },
            error: function(jqXHR){
                if (jqXHR.status == 401) {
                    alert("로그인 후 사용할 수 있습니다.");
                }
                alert("재생목록을 강의노트에 추가하는데 실패하였습니다.");
            }
        })
    }
</script>
</body>
</html>