<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="youtube-template">
    <div class="col-lg-3 col-md-4 col-12" th:each="playlist : ${playLists}">
        <div class="single-item-grid">
            <div class="image">
                <a th:href="@{/video/playlist-detail(youtubePlaylistId=${playlist.id})}"><img th:src="${playlist.thumbnailMedium}" alt="#" /></a>
            </div>
            <div class="content">
                <a href="javascript:void(0)" class="title" th:text="${playlist.title}"></a>
                <p th:text="${playlist.itemCount}"></p>
                <p class="location" th:utext="${playlist.publishDate}+'<i class='+'lni lni-calendar'+'></i>'"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>