<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div id="book-add-modal">
  <div class="modal fade" id="addNoteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title fs-5" id="staticBackdropLabel">강의노트를 선택하세요</h4><br>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <th:block th:if="${lectureNoteList.size() == 0}">
              <p>추가할 강의노트가 없습니다</p>
            </th:block>
            <th:block th:unless="${lectureNoteList.size() == 0}">
              <select id="lectureNoteSelect" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected value="-1">강의노트 선택</option>
                <option th:each="note : ${lectureNoteList}" th:value="${note.id}" th:text="${note.title}"></option>
              </select>
            </th:block>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">취소</button>
          <button th:if="${lectureNoteList.size() == 0}" disabled type="button" class="btn btn-primary btn-sm" onclick="addBookToLectureNote()">추가</button>
          <button th:unless="${lectureNoteList.size() == 0}" type="button" class="btn btn-primary btn-sm" onclick="addBookToLectureNote()">추가</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>