<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>강의노트</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.svg}" />
  <!-- Place favicon.ico in the root directory -->

  <!-- Web Font -->
  <link
          href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

  <!-- ========================= CSS here ========================= -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/LineIcons.2.0.css}" />
  <link rel="stylesheet" th:href="@{/css/animate.css}" />
  <link rel="stylesheet" th:href="@{/css/tiny-slider.css}" />
  <link rel="stylesheet" th:href="@{/css/glightbox.min.css}" />
  <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<p class="browserupgrade">
  You are using an <strong>outdated</strong> browser. Please
  <a href="https://browsehappy.com/">upgrade your browser</a> to improve
  your experience and security.
</p>
<![endif]-->

<!-- Preloader -->
<div class="preloader">
  <div class="preloader-inner">
    <div class="preloader-icon">
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<div th:replace="~{common/header::header}"></div>

<section class="dashboard section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-12">
        <!-- Start Dashboard Sidebar -->
        <div class="dashboard-sidebar">
          <div class="user-image">
            <img src="https://via.placeholder.com/300x300" alt="#">
            <h3>회원 닉네임</h3>
          </div>
          <div class="dashboard-menu">
            <ul>
              <li><a class="active" href="/lecture/lecture-note"><i class="lni lni-dashboard"></i> 강의노트</a></li>
              <li><a href="/member/profile"><i class="lni lni-pencil-alt"></i> 회원정보</a></li>
              <li><a href="#"><i class="lni lni-bolt-alt"></i> 메뉴3</a></li>
            </ul>
          </div>
        </div>
        <!-- Start Dashboard Sidebar -->
      </div>
      <div class="col-lg-9 col-md-8 col-12">
        <div class="main-content">
          <!-- Start Details Lists -->
          <div class="details-lists">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-12">
                <!-- Start Single List -->
                <div class="single-list">
                  <div class="list-icon">
                    <i class="lni lni-checkmark-circle"></i>
                  </div>
                  <h3 th:utext="${lectureNoteList.size()} + '<span>강의노트 </span>'"></h3>
                </div>
                <!-- End Single List -->
              </div>
              <div class="col-lg-4 col-md-4 col-12">
                <!-- Start Single List -->
                <div class="single-list two">
                  <div class="list-icon">
                    <i class="lni lni-alarm"></i>
                  </div>
                  <h3>0<span>진행 중 </span>
                  </h3>
                </div>
                <!-- End Single List -->
              </div>
              <div class="col-lg-4 col-md-4 col-12">
                <!-- Start Single List -->
                <div class="single-list three">
                  <div class="list-icon">
                    <i class="lni lni-alarm"></i>
                  </div>
                  <h3>0<span>완료된 노트 </span></h3>
                </div>
                <!-- End Single List -->
              </div>
            </div>
          </div>
          <!-- End Details Lists -->
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <!-- Start Activity Log -->
              <div class="activity-log dashboard-block">
                <ul>
                  <li>
                    <div class="log-icon">
                      <i class="lni lni-circle-plus"></i>
                    </div>
<!--                    <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#lectureNoteAddModal">강의노트 추가</button>-->
                    <button class="btn btn-outline-primary" onclick="showAddLectureNoteModal()">강의노트 추가</button>
                  </li>
                  <li th:each="lectureNote : ${lectureNoteList}">
                    <div class="log-icon">
                      <i class="lni lni-alarm"></i>
                    </div>
                      <a href="javascript:void(0)" class="title" th:text="${lectureNote.title}"></a>
                      <span class="time" th:text="${lectureNote.description}"></span>
                      <span class="remove"><a th:href="|javascript:removeLectureNote('${lectureNote.id}')|"><i class="lni lni-close"></i></a></span>
                  </li>
                </ul>
              </div>
              <!-- End Activity Log -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 강의노트 생성 모달 시작 -->
<div class="modal fade" id="lectureNoteAddModal" tabindex="-1" aria-labelledby="addLectureNoteLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="height: 700px">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addLectureNoteLabel">강의노트 만들기</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="noteTitle" class="col-form-label">강의노트 제목:</label>
          <input id="noteTitle" type="text" class="form-control">
          <span id="titleNotice" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label for="noteDesc" class="col-form-label">강의노트 설명:</label>
          <textarea id="noteDesc" class="form-control" row="5"></textarea>
          <span id="descNotice" class="text-danger"></span>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn-cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        <button id="btn-add"  type="button" class="btn btn-primary" onclick="addLectureNote()">만들기</button>
      </div>
    </div>
  </div>
</div>

<!-- Start Footer Area -->
<th:block th:replace="~{common/footer::footer}"></th:block>
<!--/ End Footer Area -->

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top btn-hover">
  <i class="lni lni-chevron-up"></i>
</a>

<div th:replace="~{common/header::header}"></div>

<script th:src="@{/js/jquery.3.6.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/tiny-slider.js}"></script>
<script th:src="@{/js/glightbox.min.js}"></script>
<script th:src="@{/js/count-up.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/lilac-common.js}"></script>
<script th:inline="javascript">
  const showAddLectureNoteModal = () => {
    $("#titleNotice").html('');
    $("#descNotice").html('');
    $("#lectureNoteAddModal").modal("show");
  }

  const addLectureNote = () => {
    const noteTile = $("#noteTitle").val();
    const noteDesc = $("#noteDesc").val();
    const isValidNoteTitle = validateString(noteTile);
    const isValidNoteDesc = validateString(noteDesc);
    $("#titleNotice").html(isValidNoteTitle ? '' : '강의노트 제목을 입력해주세요');
    $("#descNotice").html(isValidNoteDesc ? '' : '강의노트 설명을 입력해주세요');

    if(!(isValidNoteTitle && isValidNoteDesc)){
      return;
    }
    let jsonRequest = {
      "memberId":null,
      "title":noteTile,
      "description":noteDesc
    };
    $.ajax({
      type:"post",
      url:"/lecture/api/addNote",
      headers:{"Content-Type":"application/json"},
      data:JSON.stringify(jsonRequest),
      success:function (result) {
        alert("강의노트를 추가하였습니다.");
        $("#lectureNoteAddModal").modal("hide");
        //document.location.href = "/lecture/lecture-note";
      },
      error:function (jqXHR){
        if(jqXHR.status == 409){
          alert("중복된 강의노트 입니다. 다른 제목을 입력해주세요.");
        }else{
          alert("강의노트 추가를 실패하였습니다");
        }
      }
    })
  }

  // rest api 호출하지 않고 form으로 post 요청을 날려본다
  const removeLectureNote = (noteId) => {
    let form = document.createElement('form');
    let tmp = document.createElement('input');
    tmp.setAttribute('type', 'hidden');
    tmp.setAttribute('name', 'noteId');
    tmp.setAttribute('value', noteId);
    form.appendChild(tmp);
    form.setAttribute('method', 'post');
    form.setAttribute('action', '/lecture/remove-note');
    document.body.appendChild(form);
    form.submit();
  }
</script>

</body>
</html>