<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Post Ad - ClassiGrids Classified Ads and Listing Website Template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="assets/css/animate.css" />
    <link rel="stylesheet" href="assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />

</head>

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- Start Header Area -->
    <header class="header navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="nav-inner">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="index.html">
                                <img src="assets/images/logo/logo.svg" alt="Logo">
                            </a>
                            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <a class=" dd-menu collapsed" href="javascript:void(0)"
                                            data-bs-toggle="collapse" data-bs-target="#submenu-1-1"
                                            aria-controls="navbarSupportedContent" aria-expanded="false"
                                            aria-label="Toggle navigation">Home</a>
                                        <ul class="sub-menu collapse" id="submenu-1-1">
                                            <li class="nav-item"><a href="index.html">Home Default</a></li>
                                            <li class="nav-item"><a href="index2.html">Home Version 2</a></li>
                                            <li class="nav-item"><a href="index3.html">Home Version 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="category.html" aria-label="Toggle navigation">Categories</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class=" dd-menu collapsed" href="javascript:void(0)"
                                            data-bs-toggle="collapse" data-bs-target="#submenu-1-3"
                                            aria-controls="navbarSupportedContent" aria-expanded="false"
                                            aria-label="Toggle navigation">Listings</a>
                                        <ul class="sub-menu collapse" id="submenu-1-3">
                                            <li class="nav-item"><a href="item-listing-grid.html">Ad Grid</a></li>
                                            <li class="nav-item"><a href="item-listing-list.html">Ad Listing</a></li>
                                            <li class="nav-item"><a href="item-details.html">Ad Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class=" active dd-menu collapsed" href="javascript:void(0)"
                                            data-bs-toggle="collapse" data-bs-target="#submenu-1-4"
                                            aria-controls="navbarSupportedContent" aria-expanded="false"
                                            aria-label="Toggle navigation">Pages</a>
                                        <ul class="sub-menu mega-menu collapse" id="submenu-1-4">
                                            <li class="single-block">
                                                <ul>
                                                    <li class="mega-menu-title">Essential Pages</li>
                                                    <li class="nav-item"><a href="about-us.html">About Us</a></li>
                                                    <li class="nav-item"><a href="item-details.html">Ads Details</a>
                                                    </li>
                                                    <li class="nav-item"><a href="post-item.html">Ads Post</a></li>
                                                    <li class="nav-item"><a href="pricing.html">Pricing Table</a></li>
                                                    <li class="nav-item"><a href="registration.html">Sign Up</a></li>
                                                    <li class="nav-item"><a href="login.html">Sign In</a></li>
                                                    <li class="nav-item"><a href="contact.html">Contact Us</a></li>
                                                    <li class="nav-item"><a href="faq.html">FAQ</a></li>
                                                    <li class="nav-item"><a href="404.html">Error Page</a></li>
                                                    <li class="nav-item"><a href="mail-success.html">Mail Success</a>
                                                    </li>
                                                    <li class="nav-item"><a href="coming-soon.html">Comming Soon</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="single-block">
                                                <ul>
                                                    <li class="mega-menu-title">Dashboard</li>
                                                    <li class="nav-item"><a href="dashboard.html">Account Overview</a>
                                                    </li>
                                                    <li class="nav-item"><a href="profile-settings.html">My Profile</a>
                                                    </li>
                                                    <li class="nav-item"><a href="my-items.html">My Ads</a></li>
                                                    <li class="nav-item"><a href="favourite-items.html">Favorite Ads</a>
                                                    </li>
                                                    <li class="nav-item active"><a href="post-item.html">Ad post</a>
                                                    </li>
                                                    <li class="nav-item"><a href="bookmarked-items.html">Bookmarked
                                                            Ad</a>
                                                    </li>
                                                    <li class="nav-item"><a href="messages.html">Messages</a></li>
                                                    <li class="nav-item"><a href="delete-account.html">Close account</a>
                                                    </li>
                                                    <li class="nav-item"><a href="invoice.html">Invoice</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class=" dd-menu collapsed" href="javascript:void(0)"
                                            data-bs-toggle="collapse" data-bs-target="#submenu-1-5"
                                            aria-controls="navbarSupportedContent" aria-expanded="false"
                                            aria-label="Toggle navigation">Blog</a>
                                        <ul class="sub-menu collapse" id="submenu-1-5">
                                            <li class="nav-item"><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a>
                                            </li>
                                            <li class="nav-item"><a href="blog-single.html">Blog Single</a></li>
                                            <li class="nav-item"><a href="blog-single-sidebar.html">Blog Single
                                                    Sibebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                            <div class="login-button">
                                <ul>
                                    <li>
                                        <a href="login.html"><i class="lni lni-enter"></i> Login</a>
                                    </li>
                                    <li>
                                        <a href="registration.html"><i class="lni lni-user"></i> Register</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="button header-button">
                                <a href="post-item.html" class="btn">Post an Ad</a>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </header>
    <!-- End Header Area -->

    <!-- Start Dashboard Section -->
    <section class="dashboard section" style="margin-top:30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                    <!-- Start Dashboard Sidebar -->
                    <div class="dashboard-sidebar">
                        <div class="user-image">
                            <img src="https://via.placeholder.com/300x300" alt="#">
                            <h3>Steve Aldridge
                                <span><a href="javascript:void(0)">@username</a></span>
                            </h3>
                        </div>
                        <div class="dashboard-menu">
                            <ul>
                                <li><a href="profile-settings.html"><i class="lni lni-pencil-alt"></i> 노트제목1</a></li>
                                <li><a href="profile-settings.html"><i class="lni lni-pencil-alt"></i> 노트제목2</a></li>
                                <li><a href="profile-settings.html"><i class="lni lni-pencil-alt"></i> 노트제목3</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Start Dashboard Sidebar -->
                </div>
                <div class="col-lg-9 col-md-8 col-12">
                    <div class="main-content">
                        <!-- Start Post Ad Block Area -->
                        <div class="dashboard-block mt-0">
                            <h3 class="block-title">선택된 노트 제목</h3>
                            <nav class="list-nav">
                                <ul>
                                    <li>전체노트 : 12</li>
                                    <li>진행중 : 11</li>
                                    <li>완료 : 2</li>
                                    <li><a href="#all-license-collase" data-bs-toggle="collapse" aria-expanded="false"
                                            aria-controls="all-license-collase">노트설명 </a></li>
                                    <li><a href="javascript:void(0)">노트추가 </a></li>
                                    <li><a href="javascript:void(0)">노트삭제 </a></li>
                                </ul>
                            </nav>
                            <div class="collapse" style="padding-left: 20px;padding-right: 20px"
                                id="all-license-collase">
                                <div class="detail-inner">
                                    <p>이 강의노트는 정말 예술이다</p>
                                </div>
                            </div>
                        </div>
                        <div class="inner-block">
                            <!-- Start Post Ad Tab -->
                            <div class="post-ad-tab">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-item-info-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-item-info" type="button" role="tab"
                                            aria-controls="nav-item-info" aria-selected="true">
                                            <!-- <span class="serial">01</span> -->
                                            자격증 정보
                                        </button>
                                        <button class="nav-link" id="nav-item-details-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-item-details" type="button" role="tab"
                                            aria-controls="nav-item-details" aria-selected="false">
                                            도서 정보
                                            <span class="sub-title">전체 2권</span>
                                        </button>
                                        <button class="nav-link" id="nav-user-info-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-user-info" type="button" role="tab"
                                            aria-controls="nav-user-info" aria-selected="false">
                                            영상정보
                                            <span class="sub-title">영상개수 10개</span>
                                        </button>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-item-info" role="tabpanel"
                                        aria-labelledby="nav-item-info-tab">
                                        <!-- Start Post Ad Step One Content -->
                                        <div class="step-one-content">
                                            <form class="default-form-style" method="post" action="#">
                                                <div class="row">
                                                    <table class="table table-hover table-bordered" style="width:100%">
                                                        <thread>
                                                            <tr>
                                                                <th scope="col" style="width:12%">설명</th>
                                                                <th scope="col" style="width:13%">필기접수</th>
                                                                <th scope="col" style="width:13%">필기시험</th>
                                                                <th scope="col" style="width:8%">필기합격발표</th>
                                                                <th scope="col" style="width:13%">실기접수</th>
                                                                <th scope="col" style="width:13%">실기시험</th>
                                                                <th scope="col" style="width:8%">실기합격발표</th>
                                                            </tr>
                                                        </thread>
                                                        <tbody>
                                                            <tr th:each="schedule:${licenseInfo.scheduleList}">
                                                                <td th:text="${schedule.category}"></td>
                                                                <td th:text="${schedule.docRegPeriod}"></td>
                                                                <td th:text="${schedule.docExam}"></td>
                                                                <td th:text="${schedule.docPass}"></td>
                                                                <td th:text="${schedule.pracReg}"></td>
                                                                <td th:text="${schedule.pracExam}"></td>
                                                                <td th:text="${schedule.docPass}"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- Start Post Ad Step One Content -->
                                    </div>
                                    <div class="tab-pane fade" id="nav-item-details" role="tabpanel"
                                        aria-labelledby="nav-item-details-tab">
                                        <!-- Start Post Ad Step Two Content -->
                                        <div class="step-two-content">
                                            <div class="alt-option">
                                                <span></span>
                                            </div>
                                            <div class="my-items">
                                                <!-- Start List Title -->
                                                <div class="item-list-title">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-7 col-md-7 col-12">
                                                            <p>도서명</p>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-12">
                                                            <p>출판사</p>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-12">
                                                            <p>출판일</p>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-12 align-right">
                                                            <p>삭제</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End List Title -->
                                                <!-- Start Single List -->
                                                <div class="single-item-list">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-7 col-md-7 col-12">
                                                            <div class="item-image">
                                                                <img src="https://via.placeholder.com/100x100" alt="#">
                                                                <div class="content">
                                                                    <h3 class="title"><a href="javascript:void(0)">도서 제목</a></h3>
                                                                    <span class="price">가격</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-12">
                                                            <p>한빛미디어</p>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-12">
                                                            <p>2022-10-10</p>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-12 align-right">
                                                            <ul class="action-btn">
                                                                <li><a href="javascript:void(0)"><i class="lni lni-trash"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Single List -->
                                                <!-- Pagination -->
                                                <div class="pagination left">
                                                    <ul class="pagination-list">
                                                        <li><a href="javascript:void(0)">1</a></li>
                                                        <li class="active"><a href="javascript:void(0)">2</a></li>
                                                        <li><a href="javascript:void(0)">3</a></li>
                                                        <li><a href="javascript:void(0)">4</a></li>
                                                        <li><a href="javascript:void(0)"><i
                                                                    class="lni lni-chevron-right"></i></a></li>
                                                    </ul>
                                                </div>
                                                <!--/ End Pagination -->
                                            </div>
                                        </div>
                                        <!-- Start Post Ad Step Two Content -->
                                    </div>
                                    <div class="tab-pane fade" id="nav-user-info" role="tabpanel" aria-labelledby="nav-user-info-tab">
                                        <!-- Start Post Ad Step Three Content -->
                                        <div class="step-three-content">
                                            <!-- <h3 class="block-title">My Favorites</h3> -->
                                            <!-- <nav class="list-nav">
                                                <ul>
                                                    <li class="active"><a href="javascript:void(0)">Featured
                                                            <span>85</span></a></li>
                                                </ul>
                                            </nav> -->
                                            <!-- Start Items Area -->
                                            <div class="alt-option">
                                                <span></span>
                                            </div>
                                            <div class="my-items">
                                                <!-- Start List Title -->
                                                <div class="item-list-title">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-7 col-md-7 col-12">
                                                            <p>재생목록 제목</p>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-12">
                                                            <p>영상개수</p>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-12">
                                                            <p>진행상황</p>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-12 align-right">
                                                            <p>삭제</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End List Title -->
                                                <!-- Start Single List -->
                                                <div class="single-item-list">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-7 col-md-7 col-12">
                                                            <div class="item-image">
                                                                <img src="https://via.placeholder.com/100x100" alt="#">
                                                                <div class="content">
                                                                    <h3 class="title"><a href="javascript:void(0)">자바 완전 정복</a></h3>
                                                                    <span class="price">채널명</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-12">
                                                            <p>100</p>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-12">
                                                            <p>60%</p>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-12 align-right">
                                                            <ul class="action-btn">
                                                                <li><a href="javascript:void(0)"><i class="lni lni-trash"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Single List -->
                                                
                                                <!-- Pagination -->
                                                <div class="pagination left">
                                                    <ul class="pagination-list">
                                                        <li><a href="javascript:void(0)">1</a></li>
                                                        <li class="active"><a href="javascript:void(0)">2</a></li>
                                                        <li><a href="javascript:void(0)">3</a></li>
                                                        <li><a href="javascript:void(0)">4</a></li>
                                                        <li><a href="javascript:void(0)"><i
                                                                    class="lni lni-chevron-right"></i></a></li>
                                                    </ul>
                                                </div>
                                                <!--/ End Pagination -->
                                            </div>
                                            <!-- End Items Area -->
                                        </div>
                                    </div>
                                    <!-- Start Post Ad Step Three Content -->
                                </div>
                            </div>
                        </div>
                        <!-- End Post Ad Tab -->
                    </div>
                </div>
                <!-- End Post Ad Block Area -->
            </div>
        </div>
        </div>
        </div>
    </section>
    <!-- End Dashboard Section -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/tiny-slider.js"></script>
    <script src="assets/js/glightbox.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        $(document).ready(function () {

            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.profile-pic').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }


            $(".file-upload").on('change', function () {
                readURL(this);
            });

            $(".upload-button").on('click', function () {
                $(".file-upload").click();
            });
        });
    </script>
</body>

</html>