<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="lecture-note-detail-template">
    <div class="dashboard-block mt-0">
        <h3 class="block-title" th:if="${noteDetail.totalNoteCount >= 1}">[[${noteDetail.noteTitle}]]</h3>
        <h3 class="block-title" th:unless="${noteDetail.totalNoteCount >= 1}">아직 강의노트가 없으시다면 강의노트를 만들어보세요</h3>
        <nav class="list-nav">
            <ul>
                <li th:text="'전체노트 : '+${noteDetail.totalNoteCount}"></li>
                <li th:text="'진행중 : '+${noteDetail.inProgressNoteCount}"></li>
                <li th:text="'완료 : '+${noteDetail.completedNoteCount}"></li>
                <li><a href="#all-license-collase" data-bs-toggle="collapse" aria-expanded="false"
                       aria-controls="all-license-collase">노트설명 </a></li>
                <li><a href="javascript:showAddLectureNoteModal()">노트추가 </a></li>
                <li><a href="javascript:void(0)">노트수정 </a></li>
                <li><a href="javascript:void(0)">노트삭제 </a></li>
            </ul>
        </nav>
        <div class="collapse" style="padding-left: 20px;padding-right: 20px"
             id="all-license-collase">
            <div class="detail-inner">
                <p th:if="${noteDetail.totalNoteCount >= 1}">[[${noteDetail.noteDescription}]]</p>
                <p th:if="${noteDetail.totalNoteCount >= 1}">--- 아직 강의노트 설명을 작성하지 않으셨습니다 ----</p>
            </div>
        </div>
    </div>
    <div class="inner-block">
        <div class="post-ad-tab">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-item-info-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-item-info" type="button" role="tab"
                            aria-controls="nav-item-info" aria-selected="true">
                        <!-- <span class="serial">01</span> -->
                        자격증 정보
                        <span class="sub-title" th:text="${noteDetail.noteLicenseName}"></span>
                    </button>
                    <button class="nav-link" id="nav-item-details-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-item-details" type="button" role="tab"
                            aria-controls="nav-item-details" aria-selected="false">
                        도서 정보
                        <span class="sub-title">전체 2권</span>
                    </button>
                    <button class="nav-link" id="nav-user-info-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-user-info" type="button" role="tab"
                            aria-controls="nav-user-info" aria-selected="false">
                        영상정보
                        <span class="sub-title">영상개수 10개</span>
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-item-info" role="tabpanel"
                     aria-labelledby="nav-item-info-tab">
                    <!-- 자격증 정보 탭 시작 -->
                    <div class="step-one-content">
                        <form class="default-form-style" method="post" action="#">
                            <div class="row">
                                <table class="table table-hover table-bordered" style="width:100%">
                                    <thread>
                                        <tr>
                                            <th scope="col" style="width:12%">설명</th>
                                            <th scope="col" style="width:13%">필기접수</th>
                                            <th scope="col" style="width:13%">필기시험</th>
                                            <th scope="col" style="width:8%">필기합격발표</th>
                                            <th scope="col" style="width:13%">실기접수</th>
                                            <th scope="col" style="width:13%">실기시험</th>
                                            <th scope="col" style="width:8%">실기합격발표</th>
                                        </tr>
                                    </thread>
                                    <tbody>
                                    <tr th:each="schedule:${noteDetail.licenseInfo.licenseScheduleList}">
                                        <td th:text="${schedule.category}"></td>
                                        <td th:text="${schedule.docRegPeriod}"></td>
                                        <td th:text="${schedule.docExam}"></td>
                                        <td th:text="${schedule.docPass}"></td>
                                        <td th:text="${schedule.pracReg}"></td>
                                        <td th:text="${schedule.pracExam}"></td>
                                        <td th:text="${schedule.docPass}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div> <!-- 자격증 정보 탭 끝 -->
                </div>
                <div class="tab-pane fade" id="nav-item-details" role="tabpanel"
                     aria-labelledby="nav-item-details-tab">
                    <!-- 도서 정보 탭 시작 -->
                    <div class="step-two-content">
                        <div class="alt-option">
                            <span></span>
                        </div>
                        <div class="my-items">
                            <!-- Start List Title -->
                            <div class="item-list-title">
                                <div class="row align-items-center">
                                    <div class="col-lg-7 col-md-7 col-12">
                                        <p>도서명</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p>출판사</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p>출판일</p>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-12 align-right">
                                        <p>삭제</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End List Title -->
                            <!-- Start Single List -->
                            <div class="single-item-list">
                                <div class="row align-items-center">
                                    <div class="col-lg-7 col-md-7 col-12">
                                        <div class="item-image">
                                            <img src="https://via.placeholder.com/100x100" alt="#">
                                            <div class="content">
                                                <h3 class="title"><a href="javascript:void(0)">도서 제목</a>
                                                </h3>
                                                <span class="price">가격</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p>한빛미디어</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p>2022-10-10</p>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-12 align-right">
                                        <ul class="action-btn">
                                            <li><a href="javascript:void(0)"><i
                                                    class="lni lni-trash"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single List -->
                            <!-- Pagination -->
                            <div class="pagination left">
                                <ul class="pagination-list">
                                    <li><a href="javascript:void(0)">1</a></li>
                                    <li class="active"><a href="javascript:void(0)">2</a></li>
                                    <li><a href="javascript:void(0)">3</a></li>
                                    <li><a href="javascript:void(0)">4</a></li>
                                    <li><a href="javascript:void(0)"><i
                                            class="lni lni-chevron-right"></i></a></li>
                                </ul>
                            </div>
                            <!--/ End Pagination -->
                        </div>
                    </div> <!-- 도서 정보 탭 끝 -->
                </div>
                <div class="tab-pane fade" id="nav-user-info" role="tabpanel"
                     aria-labelledby="nav-user-info-tab">
                    <!-- 영상정보 탭 시작 -->
                    <div class="step-three-content">
                        <!-- <h3 class="block-title">My Favorites</h3> -->
                        <!-- <nav class="list-nav">
                            <ul>
                                <li class="active"><a href="javascript:void(0)">Featured
                                        <span>85</span></a></li>
                            </ul>
                        </nav> -->
                        <!-- Start Items Area -->
                        <div class="alt-option">
                            <span></span>
                        </div>
                        <div class="my-items">
                            <!-- Start List Title -->
                            <div class="item-list-title">
                                <div class="row align-items-center">
                                    <div class="col-lg-7 col-md-7 col-12">
                                        <p>재생목록 제목</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p>영상개수</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p>진행상황</p>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-12 align-right">
                                        <p>삭제</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End List Title -->
                            <!-- Start Single List -->
                            <div class="single-item-list">
                                <div class="row align-items-center">
                                    <div class="col-lg-7 col-md-7 col-12">
                                        <div class="item-image">
                                            <img src="https://via.placeholder.com/100x100" alt="#">
                                            <div class="content">
                                                <h3 class="title"><a href="javascript:void(0)">자바 완전
                                                    정복</a></h3>
                                                <span class="price">채널명</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p>100</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p>60%</p>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-12 align-right">
                                        <ul class="action-btn">
                                            <li><a href="javascript:void(0)"><i
                                                    class="lni lni-trash"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single List -->

                            <!-- Pagination -->
                            <div class="pagination left">
                                <ul class="pagination-list">
                                    <li><a href="javascript:void(0)">1</a></li>
                                    <li class="active"><a href="javascript:void(0)">2</a></li>
                                    <li><a href="javascript:void(0)">3</a></li>
                                    <li><a href="javascript:void(0)">4</a></li>
                                    <li><a href="javascript:void(0)"><i
                                            class="lni lni-chevron-right"></i></a></li>
                                </ul>
                            </div>
                            <!--/ End Pagination -->
                        </div>
                        <!-- End Items Area -->
                    </div>
                </div> <!-- 영상정보 탭 끝 -->
            </div>
        </div>
    </div>
</div>
</body>
</html>