<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.steelrain.springboot.lilac.mapper.AdminMapper">
    <insert id="insertRecommendedPlayList" parameterType="Long">
        INSERT INTO tbl_recommended_playlist(youtube_playlist_id) VALUES
        <foreach collection="plIdList" item="item" separator=",">
        (#{item})
        </foreach>
    </insert>

    <select id="findAllPlayList" parameterType="map" resultType="AdminYoutubePlayListDTO">
        SELECT id,playlist_id,channel_id,license_id,subject_id,title,thumbnail_medium,item_count,reg_date
        FROM tbl_youtube_playlist
        ORDER BY reg_date DESC LIMIT #{pageNum}, #{pageCount};
    </select>

    <select id="findPlayListByRange" parameterType="map" resultType="AdminYoutubePlayListDTO">
        SELECT id,playlist_id,channel_id,license_id,subject_id,title,thumbnail_medium,item_count,reg_date
        FROM tbl_youtube_playlist
        <![CDATA[WHERE reg_date > #{start} AND reg_date <= #{end}]]>
        ORDER BY reg_date DESC LIMIT #{pageNum}, #{pageCount}
    </select>

    <select id="findTotalLicPlCount" parameterType="map" resultType="int">
        SELECT count(pl.id)
        FROM tbl_youtube_playlist pl INNER JOIN tbl_license lic
            ON pl.license_id = lic.id
        WHERE lic.id IN
        <foreach collection="licenseIds" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="findTotalLicPlayList" parameterType="map" resultType="AdminYoutubePlayListDTO">
        SELECT pl.id,pl.playlist_id,pl.channel_id,pl.title,pl.thumbnail_medium,pl.item_count,pl.reg_date
        FROM tbl_youtube_playlist pl INNER JOIN tbl_license lic
            ON pl.license_id = lic.id
        WHERE lic.id IN
        <foreach collection="licenseIds" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
        ORDER BY reg_date DESC LIMIT #{pageNum},#{pageCount}
    </select>

    <select id="findTotalSubPlCount" parameterType="map" resultType="int">
        SELECT count(pl.id)
        FROM tbl_youtube_playlist pl INNER JOIN tbl_subject sub
            ON pl.subject_id = sub.id
        WHERE sub.id IN
        <foreach collection="subjectIds" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="findTotalSubPlayList" parameterType="map" resultType="AdminYoutubePlayListDTO">
        SELECT pl.id,pl.playlist_id,pl.channel_id,pl.title,pl.thumbnail_medium,pl.item_count,pl.reg_date
        FROM tbl_youtube_playlist pl INNER JOIN tbl_subject sub
            ON pl.subject_id = sub.id
        WHERE sub.id IN
        <foreach collection="subjectIds" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
        ORDER BY reg_date DESC LIMIT #{pageNum},#{pageCount}
    </select>

    <select id="findTotalLicSubCount" parameterType="map" resultType="int">
        SELECT count(tmp.id) FROM (
          SELECT pl.id
          FROM tbl_youtube_playlist pl INNER JOIN tbl_license lic
            ON pl.license_id = lic.id
          WHERE lic.id IN
              <foreach collection="licenseIds" item="item" index="index" separator="," open="(" close=")">
                #{item}
              </foreach>
          UNION
          SELECT pl.id
          FROM tbl_youtube_playlist pl INNER JOIN tbl_subject sub
            ON pl.subject_id = sub.id
          WHERE sub.id IN
            <foreach collection="subjectIds" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>) as tmp
    </select>

    <select id="findTotalLicSubPlayList" parameterType="map" resultType="AdminYoutubePlayListDTO">
        SELECT tmp.id,tmp.playlist_id,tmp.channel_id,tmp.title,tmp.thumbnail_medium,tmp.item_count,tmp.reg_date
        FROM (
             SELECT pl.id,pl.playlist_id,pl.channel_id,pl.title,pl.thumbnail_medium,pl.item_count,pl.reg_date
             FROM tbl_youtube_playlist pl INNER JOIN tbl_license lic
               ON pl.license_id = lic.id
             WHERE lic.id IN
                <foreach collection="licenseIds" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
             UNION
             SELECT pl.id,pl.playlist_id,pl.channel_id,pl.title,pl.thumbnail_medium,pl.item_count,pl.reg_date
             FROM tbl_youtube_playlist pl INNER JOIN tbl_subject sub
               ON pl.subject_id = sub.id
             WHERE sub.id IN
                <foreach collection="subjectIds" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>) as tmp
        ORDER BY tmp.reg_date DESC LIMIT #{pageNum},#{pageCount}
    </select>

    <select id="findTodayLicPlCount" parameterType="map" resultType="int">
        SELECT count(id)
        FROM tbl_youtube_playlist
        <![CDATA[WHERE reg_date > #{startDay} AND reg_date < #{endDay}]]>
            AND license_id IN
                <foreach collection="licenseIds" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
    </select>

    <select id="findLicPlByRange" parameterType="map" resultType="AdminYoutubePlayListDTO">
        SELECT id,playlist_id,channel_id,license_id,subject_id,title,thumbnail_medium,item_count,reg_date
        FROM tbl_youtube_playlist
        <![CDATA[WHERE reg_date > #{fromDate} AND reg_date < #{toDate}]]>
            AND license_id IN
                <foreach collection="licenseIds" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
        ORDER BY reg_date DESC LIMIT #{pageNum}, #{pageCount}
    </select>

    <select id="findSubPlByRange" parameterType="map" resultType="AdminYoutubePlayListDTO">
        SELECT id,playlist_id,channel_id,license_id,subject_id,title,thumbnail_medium,item_count,reg_date
        FROM tbl_youtube_playlist
        <![CDATA[WHERE reg_date > #{fromDate} AND reg_date < #{toDate}]]>
            AND subject_id IN
            <foreach collection="subjectIds" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        ORDER BY reg_date DESC LIMIT #{pageNum}, #{pageCount}
    </select>

    <select id="findLicSubPlByRange" parameterType="map" resultType="AdminYoutubePlayListDTO">
        SELECT tmp.id,tmp.playlist_id,tmp.channel_id,tmp.title,tmp.thumbnail_medium,tmp.item_count,tmp.reg_date
        FROM (
            SELECT pl.id,pl.playlist_id,pl.channel_id,pl.title,pl.thumbnail_medium,pl.item_count,pl.reg_date
            FROM tbl_youtube_playlist pl INNER JOIN tbl_license lic
                ON pl.license_id = lic.id
                <![CDATA[WHERE pl.reg_date > #{fromDate} AND pl.reg_date < #{toDate}]]>
                AND lic.id IN
                <foreach collection="licenseIds" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            UNION
            SELECT pl.id,pl.playlist_id,pl.channel_id,pl.title,pl.thumbnail_medium,pl.item_count,pl.reg_date
            FROM tbl_youtube_playlist pl INNER JOIN tbl_subject sub
                ON pl.subject_id = sub.id
                <![CDATA[WHERE pl.reg_date > #{fromDate} AND pl.reg_date < #{toDate}]]>
                AND sub.id IN
                <foreach collection="subjectIds" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>) as tmp
        ORDER BY tmp.reg_date DESC LIMIT #{pageNum}, #{pageCount}
    </select>

    <select id="findTotalLicSubPlCountByRange" parameterType="map" resultType="int">
        SELECT count(tmp.id) FROM (
            SELECT pl.id
            FROM tbl_youtube_playlist pl INNER JOIN tbl_license lic
            ON pl.license_id = lic.id
            <![CDATA[WHERE pl.reg_date > #{fromDate} AND pl.reg_date < #{toDate}]]>
                AND lic.id IN
                <foreach collection="licenseIds" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            UNION
            SELECT pl.id
            FROM tbl_youtube_playlist pl INNER JOIN tbl_subject sub
            ON pl.subject_id = sub.id
            <![CDATA[WHERE pl.reg_date > #{fromDate} AND pl.reg_date < #{toDate}]]>
                AND sub.id IN
                <foreach collection="subjectIds" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
        ) as tmp
    </select>

    <select id="findLicPlCountByRange" parameterType="map" resultType="int">
        SELECT count(id)
        FROM tbl_youtube_playlist
        <![CDATA[WHERE reg_date > #{fromDate} AND reg_date < #{toDate}]]>
        AND license_id IN
            <foreach collection="licenseIds" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
    </select>

    <select id="findSubPlCountByRange" parameterType="map" resultType="int">
        SELECT count(id)
        FROM tbl_youtube_playlist
        <![CDATA[WHERE reg_date > #{fromDate} AND reg_date < #{toDate}]]>
        AND subject_id IN
            <foreach collection="subjectIds" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
    </select>

    <select id="findCandiPlayList" resultType="AdminYoutubePlayListDTO">
        SELECT pl.id,pl.playlist_id,pl.channel_id,pl.title,pl.thumbnail_medium,pl.item_count,pl.reg_date
        FROM tbl_candi_recommend_playlist cpl INNER JOIN tbl_youtube_playlist pl
            ON cpl.youtube_playlist_id=pl.id
    </select>

    <select id="findRecommendPlayList" resultType="AdminYoutubePlayListDTO">
        SELECT pl.id,pl.playlist_id,pl.channel_id,pl.title,pl.thumbnail_medium,pl.item_count,pl.reg_date
        FROM tbl_recommended_playlist rp INNER JOIN tbl_youtube_playlist pl
            ON rp.youtube_playlist_id=pl.id
    </select>

    <delete id="deleteFinalCandiPlayList" parameterType="list">
        DELETE FROM tbl_candi_recommend_playlist
        WHERE youtube_playlist_id IN
            <foreach collection="plList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
    </delete>

    <select id="findPlayListByLike" parameterType="map" resultType="AdminYoutubePlayListDTO">
        SELECT pl.id, pl.playlist_id, pl.channel_id, pl.license_id, pl.subject_id, pl.title, pl.thumbnail_medium, pl.item_count, pl.reg_date, tmp.total_like
        FROM (
            SELECT yt.youtube_playlist_id, sum(like_count) as total_like
            FROM tbl_youtube yt
            GROUP BY yt.youtube_playlist_id ) AS tmp INNER JOIN tbl_youtube_playlist pl
                ON tmp.youtube_playlist_id = pl.id
        <if test="licenseIds != null and subjectIds == null">
            WHERE pl.license_id IN
            <foreach collection="licenseIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="subjectIds != null and licenseIds == null">
            WHERE pl.subject_id IN
            <foreach collection="subjectIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="licenseIds != null and subjectIds != null">
            WHERE pl.license_id IN
            <foreach collection="licenseIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach> OR pl.subject_id IN
            <foreach collection="subjectIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY tmp.total_like
        <if test="desc == true">
            DESC LIMIT #{pageNum}, #{pageCount}
        </if>
        <if test="desc == false">
            ASC LIMIT #{pageNum}, #{pageCount}
        </if>
    </select>

    <select id="findPlayListBViewCount" parameterType="map" resultType="AdminYoutubePlayListDTO">
        SELECT pl.id, pl.playlist_id, pl.channel_id, pl.license_id, pl.subject_id, pl.title, pl.thumbnail_medium, pl.item_count, pl.reg_date, tmp.view_count
        FROM (
        SELECT yt.youtube_playlist_id, sum(view_count) as view_count
        FROM tbl_youtube yt
        GROUP BY yt.youtube_playlist_id ) AS tmp INNER JOIN tbl_youtube_playlist pl
        ON tmp.youtube_playlist_id = pl.id
        <if test="licenseIds != null and subjectIds == null">
            WHERE pl.license_id IN
            <foreach collection="licenseIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="subjectIds != null and licenseIds == null">
            WHERE pl.subject_id IN
            <foreach collection="subjectIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="licenseIds != null and subjectIds != null">
            WHERE pl.license_id IN
            <foreach collection="licenseIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach> OR pl.subject_id IN
            <foreach collection="subjectIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY tmp.view_count
        <if test="desc == true">
            DESC LIMIT #{pageNum}, #{pageCount}
        </if>
        <if test="desc == false">
            ASC LIMIT #{pageNum}, #{pageCount}
        </if>
    </select>

    <!-- 도서관련 SQL-->
    <select id="findTotalLicBookList" parameterType="map" resultType="AdminBookDTO">
        SELECT id, title, publish_date, authors, publisher, reg_date, thumbnail, isbn13
        FROM tbl_book
        WHERE license_id IN
            <foreach collection="licenseIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            ORDER BY reg_date DESC LIMIT #{pageNum}, #{pageCount}
    </select>

    <select id="findTotalLicBookCount" parameterType="list" resultType="int">
        SELECT count(id)
        FROM tbl_book
        WHERE license_id IN
        <foreach collection="licenseIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="findTotalBookList" parameterType="map" resultType="AdminBookDTO">
        SELECT id, title, publish_date, authors, publisher, reg_date, thumbnail, isbn13
        FROM tbl_book
        ORDER BY reg_date DESC LIMIT #{pageNum}, #{pageCount}
    </select>

    <select id="findTotalSubBookList" parameterType="map" resultType="AdminBookDTO">
        SELECT id, title, publish_date, authors, publisher, reg_date, thumbnail, isbn13
        FROM tbl_book
        WHERE subject_id IN
        <foreach collection="subjectIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
            ORDER BY reg_date DESC LIMIT #{pageNum}, #{pageCount}
    </select>

    <select id="findTotalSubBookCount" parameterType="map" resultType="int">
        SELECT count(id)
        FROM tbl_book
        WHERE subject_id IN
        <foreach collection="subjectIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="findTotalLicSubBookList" parameterType="map" resultType="AdminBookDTO">
        SELECT tmp.id, tmp.title, tmp.publish_date, tmp.authors, tmp.publisher, tmp.reg_date, tmp.thumbnail, tmp.isbn13
        FROM (
            SELECT id, title, publish_date, authors, publisher, reg_date, thumbnail, isbn13
            FROM tbl_book
            WHERE license_id IN
            <foreach collection="licenseIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            UNION
            SELECT id, title, publish_date, authors, publisher, reg_date, thumbnail, isbn13
            FROM tbl_book
            WHERE subject_id IN
            <foreach collection="subjectIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        ) as tmp
        ORDER BY tmp.reg_date DESC LIMIT #{pageNum}, #{pageCount}
    </select>

    <select id="findTotalLicSubBookCount" parameterType="map" resultType="int">
        SELECT count(tmp.id)
        FROM (
        SELECT id
        FROM tbl_book
        WHERE license_id IN
        <foreach collection="licenseIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        UNION
        SELECT id
        FROM tbl_book
        WHERE subject_id IN
        <foreach collection="subjectIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        ) as tmp
    </select>

    <select id="findLicBookListByRange" parameterType="map" resultType="AdminBookDTO">
        SELECT id, title, publish_date, authors, publisher, reg_date, thumbnail, isbn13
        FROM tbl_book
        <![CDATA[WHERE reg_date > #{fromDate} AND reg_date < #{toDate}]]>
        AND license_id IN
        <foreach collection="licenseIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        ORDER BY reg_date DESC LIMIT #{pageNum}, #{pageCount}
    </select>

    <select id="findLicBookCountByRange" parameterType="map" resultType="int">
        SELECT count(id)
        FROM tbl_book
        <![CDATA[WHERE reg_date > #{fromDate} AND reg_date < #{toDate}]]>
        AND licenseId IN
        <foreach collection="licenseIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="findSubBookListByRange" parameterType="map" resultType="AdminBookDTO">
        SELECT id, title, publish_date, authors, publisher, reg_date, thumbnail, isbn13
        FROM tbl_book
        <![CDATA[WHERE reg_date > #{fromDate} AND reg_date < #{toDate}]]>
        AND subject_id IN
        <foreach collection="licenseIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        ORDER BY reg_date DESC LIMIT #{pageNum}, #{pageCount}
    </select>

    <select id="findSubBookCountByRange" parameterType="map" resultType="int">
        SELECT count(id)
        FROM tbl_book
        <![CDATA[WHERE reg_date > #{fromDate} AND reg_date < #{toDate}]]>
        AND subject_id IN
        <foreach collection="licenseIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="findLicSubBookListByRange" parameterType="map" resultType="AdminBookDTO">
        SELECT tmp.id, tmp.title, tmp.publish_date, tmp.authors, tmp.publisher, tmp.reg_date, tmp.thumbnail, tmp.isbn13
        FROM (
            SELECT id, title, publish_date, authors, publisher, reg_date, thumbnail, isbn13
            FROM tbl_book
            <![CDATA[WHERE reg_date > #{fromDate} AND reg_date < #{toDate}]]>
            AND license_id IN
            <foreach collection="licenseIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            UNION
            SELECT id, title, publish_date, authors, publisher, reg_date, thumbnail, isbn13
            FROM tbl_book
            <![CDATA[WHERE reg_date > #{fromDate} AND reg_date < #{toDate}]]>
            AND subject_id IN
            <foreach collection="subjectIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            ) as tmp
        ORDER BY tmp.reg_date DESC LIMIT #{pageNum}, #{pageCount}
    </select>

    <select id="findLicSubBookCountByRange" parameterType="map" resultType="int">
        SELECT count(tmp.id)
        FROM (
            SELECT id
            FROM tbl_book
            <![CDATA[WHERE reg_date > #{fromDate} AND reg_date < #{toDate}]]>
            AND license_id IN
            <foreach collection="licenseIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            UNION
            SELECT id
            FROM tbl_book
            <![CDATA[WHERE reg_date > #{fromDate} AND reg_date < #{toDate}]]>
            AND subject_id IN
            <foreach collection="subjectIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        ) as tmp
    </select>

    <select id="findBookListByRange" parameterType="map" resultType="AdminBookDTO">
        SELECT id, title, publish_date, authors, publisher, reg_date, thumbnail, isbn13
        FROM tbl_book
        <![CDATA[WHERE reg_date > #{fromDate} AND reg_date < #{toDate}]]>
        ORDER BY reg_date DESC LIMIT #{pageNum}, #{pageCount}
    </select>

    <select id="findCandiBookList" resultType="AdminBookDTO">
        SELECT tb.id, tb.title, tb.publish_date, tb.authors, tb.publisher, tb.reg_date, tb.thumbnail, tb.isbn13
        FROM tbl_candi_recommend_book crb INNER JOIN tbl_book tb
            ON crb.book_id=tb.id;
    </select>

    <delete id="deleteFinalCandiBookList" parameterType="list">
        DELETE FROM tbl_candi_recommend_book
        WHERE book_id IN
        <foreach collection="cblList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>
    
    <insert id="insertRecommendedBookList" parameterType="Long">
        INSERT INTO tbl_recommended_book(book_id) VALUES
        <foreach collection="cblList" item="item" separator=",">
            (#{item})
        </foreach>
    </insert>

    <select id="findRecommendBookList" resultType="AdminBookDTO">
        SELECT tb.id, tb.title, tb.publish_date, tb.authors, tb.publisher, tb.reg_date, tb.thumbnail, isbn13
        FROM tbl_recommended_book rb INNER JOIN tbl_book tb
            ON rb.book_id=tb.id;
    </select>
</mapper>