<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.steelrain.springboot.lilac.mapper.LicenseBookMapper">

    <insert id="saveKakaoBookList" parameterType="KaKaoBookDTO">
        INSERT INTO tbl_book(isbn13,license_id,subject_id,title,contents,url,publish_date,authors,publisher,translators,price,sale_price,thumbnail,status) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.isbn13},#{item.licenseId},#{item.subjectId},#{item.title},#{item.contents},#{item.url},#{item.publishDate},
             #{item.authors},#{item.publisher},#{item.translators},#{item.price},#{item.salePrice},#{item.thumbnail},#{item.status})
        </foreach>
        ON DUPLICATE KEY UPDATE title=VALUES(title),license_id=VALUES(license_id),subject_id=VALUES(subject_id),contents=VALUES(contents),url=VALUES(url),publish_date=VALUES(publish_date),authors=VALUES(authors)
                                ,publisher=VALUES(publisher),translators=VALUES(title),price=VALUES(price),sale_price=VALUES(sale_price),thumbnail=VALUES(thumbnail)
                                ,status=VALUES(status),update_date=NOW()
    </insert>

    <select id="getRecommendedBookList" resultType="KaKaoBookDTO">
        SELECT tb.id,tb.isbn13,tb.title,tb.contents,tb.url,tb.publish_date,tb.authors,tb.publisher,tb.translators,tb.price,tb.sale_price,tb.thumbnail,tb.status,tb.reg_date,tb.update_date
        FROM tbl_recommended_book rb INNER JOIN tbl_book tb
            ON rb.id = tb.id;
    </select>

</mapper>