<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.steelrain.springboot.lilac.mapper.VideoMapper">
    <resultMap id="findRecommendedVideoListMap" type="RecommendedVideoDTO">
        <id property="id" column="id" />
        <result property="YoutubePlaylistId" column="youtube_playlist_id" />
        <result property="title" column="video_title" />
        <result property="thumbnailMedium" column="thumbnail_medium" />
        <result property="viewCount" column="view_count" />
        <result property="searchCount" column="search_count" />
        <result property="likeCount" column="like_count" />
        <result property="favoriteCount" column="favorite_count" />
        <result property="channelTitle" column="channel_title" />
    </resultMap>
    <select id="findRecommendedVideoList" resultMap="findRecommendedVideoListMap">
        SELECT youtube.id,youtube_playlist_id,youtube.title as video_title,
               youtube.thumbnail_medium,youtube.view_count,search_count,like_count,favorite_count,chn.title as channel_title
        FROM tbl_recommended_video rvideo INNER JOIN tbl_youtube youtube INNER JOIN tbl_youtube_channel chn
            ON rvideo.youtube_id=youtube.id
                AND youtube.channel_id=chn.id;
    </select>

    <select id="findPlayListDetail" parameterType="java.lang.Long" resultType="YoutubeVideoDTO">
        SELECT yt.id,yt.video_id,yt.channel_id,yt.youtube_playlist_id,yt.title,yt.description,yt.publish_date,
               yt.thumbnail_default,yt.thumbnail_high,yt.playlist_id,yt.view_count,yt.search_count,yt.like_count,yt.favorite_count,yt.comment_count,
               yt.comment_disabled,yt.duration,yt.score,yt.magnitude
        FROM tbl_youtube yt INNER JOIN tbl_youtube_playlist pl
            ON yt.youtube_playlist_id=pl.id
        WHERE pl.id=#{playlistId};
    </select>

<!--    full text 검색으로 변경 후 주석처리-->
<!--    <resultMap id="findPlayListByKeywordMap" type="YoutubePlayListDTO">-->
<!--        <id property="id" column="id" />-->
<!--        <result property="playlistId" column="playlist_id" />-->
<!--        <result property="channelId" column="channel_id" />-->
<!--        <result property="title" column="title" />-->
<!--        <result property="thumbnailMedium" column="thumbnail_medium" />-->
<!--        <result property="itemCount" column="item_count" />-->
<!--        <result property="channelTitle" column="channel_title" />-->
<!--    </resultMap>-->
<!--    <select id="findPlayListByKeyword" parameterType="map"  resultMap="findPlayListByKeywordMap">-->
<!--        SELECT pl.id,playlist_id,pl.channel_id,pl.title,pl.thumbnail_medium,item_count,chn.title as channel_title-->
<!--        FROM tbl_youtube_playlist pl INNER JOIN tbl_youtube_channel chn-->
<!--            ON pl.channel_id=chn.id-->
<!--        WHERE pl.title LIKE concat('%',#{keyword},'%')-->
<!--        ORDER BY pl.publish_date LIMIT #{offset},#{count};-->
<!--    </select>-->

    <resultMap id="findPlayListByKeywordMap" type="YoutubePlayListDTO">
        <id property="id" column="id" />
        <result property="playlistId" column="playlist_id" />
        <result property="channelId" column="channel_id" />
        <result property="title" column="title" />
        <result property="thumbnailMedium" column="thumbnail_medium" />
        <result property="itemCount" column="item_count" />
        <result property="channelTitle" column="channel_title" />
    </resultMap>
    <select id="findPlayListByKeyword" parameterType="map"  resultMap="findPlayListByKeywordMap">
        SELECT pl.id,playlist_id,pl.channel_id,pl.title,pl.thumbnail_medium,item_count,chn.title as channel_title
        FROM tbl_youtube_playlist pl INNER JOIN tbl_youtube_channel chn
                                                ON pl.channel_id=chn.id
        WHERE MATCH(pl.title) AGAINST (#{keyword})
        ORDER BY pl.publish_date LIMIT #{offset}, #{count}
    </select>

    <resultMap id="findRecommendedPlayListMap" type="com.steelrain.springboot.lilac.datamodel.view.RecommendedPlayListDTO">
        TODO
    </resultMap>
    <select id="findRecommendedPlayList" resultMap="findRecommendedPlayListMap">
        SELECT tmp.id, tmp.title, tmp.thumbnail_medium, chn.title as channel_title
        FROM (SELECT pl.id, pl.channel_id, pl.title, pl.thumbnail_medium
              FROM tbl_recommended_playlist rpl INNER JOIN tbl_youtube_playlist pl
                                                           ON rpl.youtube_playlist_id = pl.id) as tmp
                 INNER JOIN tbl_youtube_channel chn
                            ON tmp.channel_id = chn.id;
    </select>
</mapper>