<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>강의노트 영상 재생</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.svg}"/>
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/LineIcons.2.0.css}"/>
    <link rel="stylesheet" th:href="@{/css/animate.css}"/>
    <link rel="stylesheet" th:href="@{/css/tiny-slider.css}"/>
    <link rel="stylesheet" th:href="@{/css/glightbox.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<!-- Preloader -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- /End Preloader -->

<div th:replace="~{common/header::header}"></div>

<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">강의노트 재생</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li th:text="'강의노트 제목 : '+${videoList[0].lectureTitle}"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="section blog-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-12">
                <div class="single-inner">
                    <div class="post-thumbnils ratio ratio-16x9">
                        <div id="player"></div>
                    </div>
                    <div id="div-video-info" class="post-details">
                        <div class="detail-inner">
                            <div class="detail-inner">
                                <h5 class="post-title" th:text="${videoList[0].title}"></h5>
                                <ul class="custom-flex post-meta">
                                    <li>
                                        <i class="lni lni-calendar" th:text="' '+${{videoList[0].publishDate}}"></i>
                                    </li>
                                    <li>
                                        <i class="lni lni-comments" th:text="' '+${videoList[0].commentCount}"></i>
                                    </li>
                                    <li>
                                        <i class="lni lni-eye" th:text="' '+${videoList[0].viewCount}"></i>
                                    </li>
                                    <li>
                                        <i class="lni lni-star" th:text="' '+${videoList[0].likeCount}"></i>
                                    </li>
                                    <li>
                                        <a th:href="|javascript:likeVideo('${videoList[0].id}')|">
                                            <i id="img-like-count" class="lni lni-thumbs-up"
                                               th:style="${(isLikeVideo != null && isLikeVideo) ? 'color:#ff0000':'color:#5830e0'}"
                                               th:text="' '+${videoList[0].lilacLikeCount}"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="|javascript:dislikeVideo('${videoList[0].id}')|">
                                            <i id="img-dislike-count" class="lni lni-thumbs-down"
                                               th:style="${(isLikeVideo != null && !isLikeVideo) ? 'color:#ff0000':'color:#5830e0'}"
                                               th:text="' '+${videoList[0].lilacDislikeCount}"></i>
                                        </a>
                                    </li>
                                    <li th:if="${memberId != null && memberGrade > 1}">
                                        <a th:href="|javascript:showPlaylistAddModal('${playListId}')|"
                                           class="reply-link"><i class="lni lni-notepad"></i> 강의노트에 추가하기</a>
                                    </li>
                                </ul>
                                <p th:utext="${videoList[0].description}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col-lg-4 col-md-12 col-12">
                <div class="sidebar blog-grid-page">
                    <p>
                        재생목록
                    </p>
                    <div class="messages-body">
                        <div class="row">
                            <div class="col-lg-12 col-12">
                                <div class="user-list">
                                    <ul class="list-group">
                                        <!-- 재생목록의 개별영상 시작 -->
                                        <li class="border border-0 list-group-item list-group-item-action" th:each="video : ${videoList}">
                                            <a th:href="|javascript:playSelectedVideo('${video.videoId}','${video.Id}','${video.lectureVideoId}')|">
                                                <i name="i-videoChk" th:id="'video-'+${video.id}"></i>
                                                <div class="image">
                                                    <img style="border-radius: 0%" th:src="${video.thumbnailDefault}" alt="#">
                                                </div>
                                                <span class="username" th:text="${video.title}"></span>
                                                <span class="time" th:attr="id=${video.videoId}" th:text="${video.progressRate}+'%'"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <input id="memberIdHidden" type="hidden" th:value="${memberId}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

<div id="div-modal-lecture-note">
</div>

<th:block th:replace="~{common/footer::footer}"></th:block>

<script th:src="@{/js/jquery.3.6.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/tiny-slider.js}"></script>
<script th:src="@{/js/glightbox.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/lilac-common.js}"></script>
<script th:src="@{/js/lecture-note.js}"></script>
<script th:inline="javascript">
    const ctxPath = [[${#request.contextPath}]];
    // 현재 선택된 영상의 lectureVideoId
    const SESSION_STORAGE_KEY_VIDEO = 'lilac-play-videoId';

    let tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    let firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    initCurrentVideoId();

    let player;
    function onYouTubeIframeAPIReady() {
        const videoIdStr = [[${videoList[0].videoId}]];
        player = new YT.Player('player', {
            videoId: videoIdStr,
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        event.target.playVideo();
    }

    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PAUSED || event.data == YT.PlayerState.ENDED) {
            updateVideoPlaytime(getCurrentVideoId(), player.getCurrentTime());
        }
    }

    // playlist-add-model.html 에서 호출하는 함수
    function addPlayListToLectureNote() {
        const paramPlayListId = [[${playListId}]];
        const paramLectureNoteId = $("#lectureNoteSelect").val(); // playlist-add-model.html에 있는 셀렉트박스 태그
        let param = {
            "playListId": paramPlayListId,
            "lectureNoteId": paramLectureNoteId
        }
        $.ajax({
            type: "post",
            url: ctxPath+"/lecture/api/addPlayList",
            headers: {"Content-Type": "application/json"},
            data: JSON.stringify(param),
            success: function (resultJson) {
                alert("재생목록을 강의노트에 추가하였습니다.");
                $("#addNoteModal").modal("hide");
                document.location.href = ctxPath+"/video/lec-playlist-detail?youtubePlaylistId=" + paramPlayListId;
            },
            error: function (jqXHR) {
                if (jqXHR.status == 401) {
                    alert("로그인 후 사용할 수 있습니다.");
                }
                alert("재생목록을 강의노트에 추가하는데 실패하였습니다.");
            }
        })
    }

    // REST API 호출로 id에 해당하는 영상의 재생시간을 업데이트한다. id는 long 타입
    function updateVideoPlaytime(paramLectureVideoId, paramPlaytime){
        let param = {
            "lectureVideoId":paramLectureVideoId,
            "playtime":Math.ceil(paramPlaytime) // 동영상 완료된 상태이어도 2735.1173789147374 같이 값이 넘어온다. 항상 올림처리 해준다
        }
        $.ajax({
            type:"post",
            url: ctxPath+"/video/api/update-playtime",
            headers: {"Content-Type": "application/json"},
            data: JSON.stringify(param),
            success:function (result){
                let videoId = '#'+result.videoId;
                if(result.progressRate > 0){
                    $(videoId).text(result.progressRate + '%');
                }
            },
            error:function (jqXHR){
                if(jqXHR.status == 401){
                    alert("로그인이 필요합니다");
                }else{
                    alert("재생시간 업데이트에 실패하였습니다");
                }
            }
        })
    }

    /*
        강의노트의 진행률업데이트를 위해서는 lectureVideoId가 필요하기 때문에 paramLecVideoId 값을 하나 더 받는다
     */
    function playSelectedVideo(paramVideoOriginId, paramVideoId, paramLecVideoId) {
        $.ajax({
            type: "get",
            url: ctxPath+"/video/video-template",
            dataType: "text",
            data: {videoId: paramVideoId},
            success: function (result) {
                let html = jQuery('<div>').html(result);
                let playlist = html.find("div#video-info-template").html();
                $("#div-video-info").html(playlist);
                updateCurrentVideoId(paramLecVideoId);
                player.loadVideoById(paramVideoOriginId, 0);
                changeVideoCheck(paramVideoId);
            },
            error: function (error) {
                alert("영상정보 조회중 에러");
            }
        })
    }

    function changeVideoCheck(videoId){
        const selectId = "video-"+videoId;
        $("i[name=i-videoChk]").each(function(){
            if($(this).prop("id") == selectId){
                $(this).addClass("lni lni-checkmark");
            }else{
                $(this).removeClass("lni lni-checkmark");
            }
        })
    }

    // 현재 재생중인 lectureVideoId를 저장한다
    function updateCurrentVideoId(paramLectureVideoId){
        sessionStorage.setItem(SESSION_STORAGE_KEY_VIDEO,paramLectureVideoId);
    }

    // 처음으로 재생중인 lectureVideoId를 저장한다
    function initCurrentVideoId(){
        let tmpVideoId = [[${videoList[0].lectureVideoId}]];
        sessionStorage.setItem(SESSION_STORAGE_KEY_VIDEO, tmpVideoId.toString());
    }

    // 현재 재생중인 lectureVideoId를 저장한다
    function getCurrentVideoId(){
        return sessionStorage.getItem(SESSION_STORAGE_KEY_VIDEO);
    }
</script>
</body>
</html>