<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>회원가입</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.svg}" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/LineIcons.2.0.css}" />
    <link rel="stylesheet" th:href="@{/css/animate.css}" />
    <link rel="stylesheet" th:href="@{/css/tiny-slider.css}" />
    <link rel="stylesheet" th:href="@{/css/glightbox.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- Start Header Area -->
    <div th:replace="~{common/header::header}"></div>
    <!-- End Header Area -->

    <!-- start Registration section -->
    <section class="login registration section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                    <div class="form-head">
                        <h4 class="title">회원가입</h4>
                        <form action="#!" method="post">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="ipt-nickname" min="1" maxlength="20">
                                <label id="lbl-nickname" for="ipt-nickname">닉네임</label>
                                <span id="nickNameNotice"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="ipt-email" min="5" maxlength="100" onblur="checkDuplicatedEmail()">
                                <label for="ipt-email">이메일</label>
                                <span id="emailNotice"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="ipt-password" min="6" maxlength="19"
                                       placeholder="영문 대소문자 숫자 특수기호 포함 6-19자리">
                                <label for="ipt-password">비밀번호</label>
                                <span id="pwNotice"></span>
                            </div>
                            <div class="button">
                                <button type="button" id="btn-registration" class="btn">회원가입</button>
                            </div>
                            <div class="socila-login" style="margin-top: 10px">
                                <ul>
                                    <li><a href="javascript:void(0)" class="google"><i class="lni lni-bitcoin"></i>카카오 로그인</a></li>
                                    <li><a href="javascript:void(0)" class="google"><i class="lni lni-google"></i>구글 로그인</a>
                                    </li>
                                </ul>
                            </div>
                            <p class="outer-link">이미 가입이 되어 있으신가요? <a href="/member/login"> 로그인</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Registration section -->

    <!-- Start Footer Area -->
    <th:block th:replace="~{common/footer::footer}"></th:block>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script th:src="@{/js/jquery.3.6.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/wow.min.js}"></script>
    <script th:src="@{/js/tiny-slider.js}"></script>
    <script th:src="@{/js/glightbox.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:inline="javascript">
        const checkDuplicatedEmail = () => {
            const emailInput = $('#ipt-email').val();
            const emailNotice = $('#emailNotice');
            const emailRegex = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}(.[a-zA-Z]{2,3})?$/u;
            if (emailInput == "") {
                emailNotice.css('color', 'red');
                emailNotice.html('이메일 주소는 필수입력입니다')
                return;
            }
            if (!emailRegex.test(emailInput)) {
                emailNotice.css('color', 'red');
                emailNotice.html('이메일 주소형식에 어긋납니다')
                $('#ipt-email').focus();
                return;
            }
            $.ajax({
                type: "get",
                url: "/member/duplicated-email/" + emailInput,
                //datatype: "text",
                success: function (data, statusText, jqXHR) {
                    console.log(data);
                    console.log(statusText);
                    console.log(jqXHR.responseText);
                    // if (result == "YES") {
                    //     emailNotice.css('color', 'red');
                    //     emailNotice.html('중복된 이메일입니다.')
                    // } else if (result == "NO") {
                    //     emailNotice.css('color', 'green');
                    //     emailNotice.html('사용가능한 이메일입니다.')
                    // }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseText);
                    console.log(textStatus);
                    console.log(errorThrown);
                    //alert('이메일 검증에서 오류가 발생하였습니다');
                }
            });
        }
    </script>
</body>
</html>